<ul class="dropdown-menu">
    {{#each genres}}
    <li><a class="book-genre-link" data-book-genre-id={{id}} data-book-genre-type={{type}} href="#">{{capitalize this.type}}</a></li>
    {{/each}}
</ul> 
